/* Geral */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #fafafa;
}

img {
  max-width: 100%;
}

.content {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  padding: 20px;
}

.container.historico {
  padding: 40px;
  background: #fff;
}

.container h1 {
  margin-bottom: 32px;
}

.historico-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.historico-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.historico-item {
  background: #fafafa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 0 8px rgb(0 0 0 / 8%);
  transition: .3s;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.historico-item:hover {
  box-shadow: 0 0 20px rgb(0 0 0 / 12%);
  transform: scale(1.01);
}

.historico-item h2 {
  font-weight: 500;
  font-size: 1.25rem;
  padding-top: 8px;
}

.historico-item p {
  margin: 8px 0;
}
