.hero-blocks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.hero-block-item {
  background: #eee;
  min-height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 300px rgb(255 255 255 / 20%);
  transition: .3s;
  position: relative;
  border-radius: 4px;
}
.hero-block-item:hover {
  box-shadow: inset 0 0 0 300px rgb(255 255 255 / 0%);
}

.hero-block-item.span-row2 {
  grid-row: span 2;
}
.hero-block-item.span-row3 {
  grid-row: span 3;
}
.hero-block-item.span-col2 {
  grid-column: span 2;
}
.hero-block-item.span-col3 {
  grid-column: span 3;
}
.hero-block-item.item1 {
  background-image: url(./../../assets/img1.jpg);
  min-height: 460px;
  box-shadow: inset 0 0 0 300px rgb(0 0 0 / 60%);
}
.hero-block-item.item2 {
  background-image: url(./../../assets/img2.jpg);
}
.hero-block-item.item3 {
  background-image: url(./../../assets/img3.jpg);
}
.hero-block-item.item4 {
  background-image: url(./../../assets/img4.jpg);
}
.hero-block-item.item5 {
  background-image: url(./../../assets/img5.jpg);
  min-height: 320px;
}
.hero-block-item.item6 {
  background-image: url(./../../assets/img6.jpg);
  min-height: 320px;
}

.hero-block-item .hero-content {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 8%;
  transform: translate3d(0, -50%, 0);
  width: 100%;
}

.hero-block-item h1 {
  margin-bottom: 20px;
}

.hero-block-item p {
  font-size: 1.25rem;
}

.hero-container p span {
  display: block;
  font-weight: 500;
}

@media (max-width: 992px) {
  .hero-block-item.item2 {
    grid-row: span 1;
  }
  .hero-block-item.item3 {
    grid-column: span 3;
  }
  .hero-block-item.item4 {
    grid-column: span 3;
  }
  .hero-block-item.item5 {
    grid-column: span 3;
  }
  .hero-block-item.item6 {
    grid-column: span 2;
  }
}

@media (max-width: 768px) {
  .hero-blocks {grid-template-columns: 1fr 1fr;}
  .hero-block-item.item2,
  .hero-block-item.item5,
  .hero-block-item.item6 {grid-column: span 3;}
}
