* {
  box-sizing: border-box;
}
body {
  background-color: #f6fcff;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #aaa;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 120px;
}

form span {
  text-align: left;
  display: block;
  font-weight: 600;
  font-size: .875rem;
}
form input {
  display: block;
  width: 100%;
  margin: 8px 0 20px;
  padding: 12px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: .3s;
}
form input:hover,
form input:focus {
  border-color: #777;
}
form input::placeholder {
  font-size: .875rem;
  font-weight: 400;
}
button[disabled] {
  background-color: #aaa!important;
}
.container .error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 5px;
  border-radius: 5px;
}